alembic
bcrypt
blinker
certifi
dnspython
email_validator
Flask
Flask-BabelEx
Flask-Bcrypt
flask-csrf
Flask-Ext
Flask-Login
Flask-Mail
Flask-Migrate
flask-paginate
Flask-Principal
Flask-SQLAlchemy
flask-talisman
Flask-WTF
paginate
paramiko
passlib
pip
psycopg2-binary
pycparser
PyJWT
pyotp
pypng
python-decouple
python-dotenv
PyYAML
qrcode
requests
RouterOS-api
setuptools
SQLAlchemy
typing_extensions