{% extends "/layouts/layout.html" %}
{% block title %}Network Manager{% endblock %}
{% block content %}
<!-- Begin Page Content -->

<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
    <form action="{{ url_for('nm.templates')}}" method="get">
        <input class="btn btn-warning" type="submit" value="Manage Templates">
    </form>
</div>
<div class="mb-2 mr-2">
    <button id="checkStatusButton" type="button" class="btn btn-info">Check Status</button>
    <!-- Bulk Config Button -->
    <button id="bulkConfigBtn" type="button" class="btn btn-primary">Select Device</button>
    <!-- Button to Push Config -->
    <button id="pushConfigBtn" type="button" class="btn btn-success">Push Config</button>
</div>

<!-- Search Input -->
<div class="mb-3">
    <form method="get" action="{{ url_for('nm.index') }}" class="d-flex">
        <input id="searchInput" type="text" name="search" class="form-control"
            placeholder="Search by Device Name, IP Address, or Vendor" value="{{ search_query }}">
        <button class="btn btn-primary ms-2" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</div>

<div class="card position-relative py-1 px-4">
    <div class="card-header">
        Network Configurations
    </div>
    <div class="table-responsive">
        <table class="table table-hover" style="text-align: left;" id="deviceTable">
            <thead class="table-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="justify-content">No</th>
                    <th scope="col">Device Name</th>
                    <th scope="col">IP Address</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                <tr>
                    <th>
                        <div class="container">
                            <!-- Checklist Buttons (initially hidden) -->
                            <div id="checklistButtons{{ loop.index }}" class="checklist-buttons" style="display: none;">
                                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                    <input type="checkbox" class="btn-check" id="btncheck{{ loop.index }}"
                                        data-ip="{{ device.ip_address }}" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="btncheck{{ loop.index }}">Select</label>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ device.device_name }}</td>
                    <td>{{ device.ip_address }}</td>
                    <td>{{ device.vendor }}</td>
                    <td>
                        <div id="statusIndicator{{ device.id }}" class="status-indicator"></div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end pagination-sm">
        {{ pagination.links }}
    </div>
</div>

<!-- Modal for displaying push config results -->
<div class="modal fade" id="pushConfigResultModal" tabindex="-1" aria-labelledby="pushConfigResultModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pushConfigResultModalLabel">Push Config Results</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="pushConfigResultTable">
                    <!-- Tabel hasil push config akan dimuat di sini -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for selecting template -->
<div class="modal fade" id="selectTemplateModal" tabindex="-1" aria-labelledby="selectTemplateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectTemplateModalLabel">Select Template for Push Config</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="templateSelectionForm">
                    <div class="mb-3">
                        <label for="templateSelect" class="form-label">Select Template</label>
                        <select id="templateSelect" class="form-select" required>
                            <option value="" selected disabled>Select a template</option>
                            {% for template in templates %}
                            <option value="{{ template.id }}">{{ template.template_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary" id="confirmPushConfigBtn">Push Config</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Script for handling user actions -->
<script>
    // Check status button click event
    document.getElementById("checkStatusButton").addEventListener("click", function () {
        fetch("/check_status", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(response => response.json())
            .then(data => {
                Object.keys(data).forEach(deviceId => {
                    const statusIndicator = document.getElementById("statusIndicator" + deviceId);
                    statusIndicator.classList.remove("status-indicator-green", "status-indicator-red");

                    if (data[deviceId]) {
                        statusIndicator.classList.add("status-indicator-green");
                    } else {
                        statusIndicator.classList.add("status-indicator-red");
                    }
                });
            })
            .catch(error => console.error("Error:", error));
    });

    // Show/Hide checklist buttons for bulk config
    document.getElementById('bulkConfigBtn').addEventListener('click', function () {
        document.querySelectorAll('.checklist-buttons').forEach(function (checklistButton) {
            checklistButton.style.display = (checklistButton.style.display === 'none') ? 'block' : 'none';
        });
    });

    // Push config button click event
    document.getElementById('pushConfigBtn').addEventListener('click', function () {
        const selectedDevices = [];
        document.querySelectorAll('.btn-check:checked').forEach(function (checkbox) {
            selectedDevices.push(checkbox.getAttribute('data-ip'));
        });

        if (selectedDevices.length > 0) {
            // Show template selection modal
            const selectTemplateModal = new bootstrap.Modal(document.getElementById('selectTemplateModal'));
            selectTemplateModal.show();
        } else {
            alert('No devices selected.');
        }
    });

    // Confirm push config button click event
    document.getElementById('confirmPushConfigBtn').addEventListener('click', function () {
        const selectedTemplate = document.getElementById('templateSelect').value;
        const selectedDevices = [];
        document.querySelectorAll('.btn-check:checked').forEach(function (checkbox) {
            selectedDevices.push(checkbox.getAttribute('data-ip'));
        });

        if (selectedTemplate && selectedDevices.length > 0) {
            fetch('/push_configs', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ devices: selectedDevices, template_id: selectedTemplate })
            })
                .then(response => response.json())
                .then(data => {
                    // Prepare HTML for the push config results table
                    let tableHTML = '<table class="table table-bordered"><thead><tr><th>Device Name</th><th>IP Address</th><th>Status</th><th>Message</th></tr></thead><tbody>';

                    data.results.forEach(result => {
                        tableHTML += `<tr><td>${result.device_name}</td><td>${result.ip}</td><td>${result.status}</td><td>${result.message}</td></tr>`;
                    });

                    tableHTML += '</tbody></table>';

                    // Display results in modal
                    document.getElementById('pushConfigResultTable').innerHTML = tableHTML;

                    // Hide template selection modal and show push config results modal
                    const selectTemplateModal = bootstrap.Modal.getInstance(document.getElementById('selectTemplateModal'));
                    selectTemplateModal.hide();

                    const pushConfigResultModal = new bootstrap.Modal(document.getElementById('pushConfigResultModal'));
                    pushConfigResultModal.show();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error pushing configurations: ' + error.message);
                });
        } else {
            alert('Please select a template.');
        }
    });

    // Function to filter table rows based on search input
    document.getElementById('searchInput').addEventListener('input', function () {
        const query = this.value.toLowerCase();
        const rows = document.querySelectorAll('#deviceTable tbody tr');

        rows.forEach(row => {
            const deviceName = row.cells[2].textContent.toLowerCase();
            const ipAddress = row.cells[3].textContent.toLowerCase();
            const vendor = row.cells[4].textContent.toLowerCase();

            if (
                deviceName.includes(query) ||
                ipAddress.includes(query) ||
                vendor.includes(query)
            ) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });

    // Reload page and reset checklist on modal close
    document.getElementById('pushConfigResultModal').addEventListener('hidden.bs.modal', function () {
        // Reset checklist
        document.querySelectorAll('.btn-check').forEach(function (checkbox) {
            checkbox.checked = false;
        });

        // Preserve search input value
        const searchInput = document.getElementById('searchInput');
        const searchQuery = searchInput.value;

        // Reload page to reset the search input
        location.reload();
        searchInput.value = searchQuery;
    });
</script>

<!-- End of Page Content -->
{% endblock %}