#1 VPN Site to Site
config firewall address
    edit "{{ local_address_name }}"
        set allow-routing enable
        set subnet {{ local_address }}
    next
    edit "{{ remote_address_name }}"
        set allow-routing enable
        set subnet {{ remote_address }}
    next
end

config firewall addrgrp
    edit "{{ local_add_group_name }}"
        set member "{{ local_address_name }}"
        set allow-routing enable
    next
    edit "{{ remote_add_group_name }}"
        set member "{{ remote_address_name }}"
        set allow-routing enable
    next
end

config vpn ipsec phase1-interface
    edit "{{ tunnel_name }}"
        set interface "{{ tunnel_interface }}"
        set ike-version {{ ike_version }}
        set local-gw {{ local_gw }}
        set peertype any
        set net-device disable
        set proposal {{ phase_proposal }}
        set dhgrp {{ dhgrp }}
        set remote-gw {{ remote_gw }}
        set psksecret {{ psk_secret }}
    next
end

config vpn ipsec phase2-interface
    edit "{{ tunnel_name }}"
        set phase1name "{{ tunnel_name }}"
        set proposal {{ phase_proposal }}
        set dhgrp {{ dhgrp }}
        set auto-negotiate enable
        set src-addr-type name
        set dst-addr-type name
        set src-name "{{ local_add_group_name }}"
        set dst-name "{{ remote_add_group_name }}"
    next
end

config firewall policy
    edit {{policy_id_in}}
        set name "{{ policy_name_in }}"
        set srcintf "{{ srcintf }}"
        set dstintf "{{ tunnel_name }}"
        set srcaddr "{{ local_add_group_name }}"
        set dstaddr "{{ remote_add_group_name }}"
        set action accept
        set schedule "always"
        set service "ALL"
    next
    edit {{ policy_id_out }}
        set name "{{ policy_name_out }}"
        set srcintf "{{ tunnel_name }}"
        set dstintf "{{ dstintf }}"
        set srcaddr "{{ remote_add_group_name }}"
        set dstaddr "{{ local_add_group_name }}"
        set action accept
        set schedule "always"
        set service "ALL"
    next
end

config router static
    edit {{ static_route_id }}
        set device "{{ tunnel_name }}"
        set dstaddr "{{ remote_add_group_name }}"
    next
    edit {{ static_blackhole_id }}
        set distance 254
        set blackhole enable
        set dstaddr "{{ remote_add_group_name }}"
    next
end