{% extends "/layouts/layout.html" %}
{% block title %}users_management{% endblock %}
{% block content %}
<!-- Begin Page Content -->


<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createuserModal">
        Create user
    </button>
</div>

<div class="card position-relative px-4">
    <div class="card-header">
        Users Management
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="justify-content">No</th>
                    <th scope="col">Username</th>
                    <th scope="col" class="text-justify-content">Password</th>
                    <th scope="col">2FA Status</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="position-relative py-2 px-4">

                {% for user in data %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <div class="text-wrap">
                            {{ user.username }}
                        </div>
                    </td>
                    <td>
                        <div class="text-wrap">
                            {{ user.password }}
                        </div>
                    </td>
                    <td>
                        <div class="text-wrap">
                            {{ user.is_two_factor_authentication_enabled }}
                        </div>
                    </td>
                    <td>
                        <div class="text-wrap">
                            {{ user.created_at }}
                        </div>
                    </td>
                    <td>
                        {% if user %}
                        {# Pastikan user tidak kosong sebelum mengakses elemen ke-0 #}
                        {% set user_id = user.id%}

                        <div class="input-group flex-nowrap">
                            <div class="position-relative mr-1">
                                <form action="{{url_for('users.user_update', user_id=user_id)}}" method="get">
                                    <input class="btn btn-success" type="submit" value="Edit">
                                </form>
                            </div>

                            <div class="position-relative ml-1">
                                <!-- Tombol Remove yang langsung mengarah ke fungsi delete_routeros -->
                                <form action="{{url_for('users.user_delete', user_id=user_id)}}" method="post">
                                    <input class="btn btn-danger"
                                        onclick="return confirm('Anda yakin ingin menghapus user ini?');" type="submit"
                                        value="Delete">
                                </form>
                            </div>
                        </div>

                        {% else %}
                        {# Handle jika user kosong #}
                        <span class="text-danger">No data available</span>
                        {% endif %}
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- create user Modal -->
<div class="modal fade" id="createuserModal" tabindex="-1" aria-labelledby="createuserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createuserModalLabel">
                    Create new user
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="user" role="form" method="post" action="">
                    {{ form.csrf_token }}

                    <div class="form-group">
                        {{ form.username(placeholder="Enter username...", class="form-control form-control-user") }}
                        {% if form.username.errors %}
                        {% for error in form.username.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password(placeholder="password", class="form-control form-control-user") }}
                        {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm(placeholder="Confirm Password", class="form-control form-control-user") }}
                        {% if form.confirm.errors %}
                        {% for error in form.confirm.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <button class="btn btn-primary btn-user btn-block" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- End of Page Content -->
{% endblock %}