{% extends "/layouts/layout.html" %}
{% block title %}user_update{% endblock %}
{% block content %}
<!-- Begin Page Content -->

<div class="card position-relative py-2 px-4" style="max-width: 32rem;">
    <div class="card-header">
        User Update
    </div>
    <form action="{{ url_for('users.user_update', user_id=user.id) }}" method="post">
        <div class=" password-container mb-3">
            <div class="mb-3 mt-3">
                <label for="username" class="small">Username</label>
                <input type="text" class="form-control" value="{{ user.username }}" id="username" name="username">
            </div>
            <div class="password-container mb-3">
                <label for="password-input" class="small">Password</label>
                <input type="password" name="password-input" id="password-input" class="form-control" placeholder="Password">
                <i class="password-toggle fas fa-eye" id="password-toggle"></i>
            </div>
            <div class="password-container mb-3">
                <label for="newpassword-input1" class="small">New Password</label>
                <input type="password" name="newpassword-input1" id="newpassword-input1" class="form-control" placeholder="Type new password">
                <i class="password-toggle fas fa-eye" id="newpassword-toggle1"></i>
            </div>
            <div class="password-container mb-3">
                <label for="newpassword-input2" class="small">Retype New Password</label>
                <input type="password" name="newpassword-input2" id="newpassword-input2" class="form-control" placeholder="Retype new password">
                <i class="password-toggle fas fa-eye" id="newpassword-toggle2"></i>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-danger" href="{{ url_for('users.index') }}">Back</a>
        </div>
    </form>
</div>

<script>
    const passwordInput = document.getElementById('password-input');
    const passwordToggle = document.getElementById('password-toggle');

    passwordToggle.addEventListener('click', function () {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
        this.classList.toggle('active');
    });
</script>

<script>
    const newpasswordInput1 = document.getElementById('newpassword-input1');
    const newpasswordToggle1 = document.getElementById('newpassword-toggle1');

    newpasswordToggle1.addEventListener('click', function () {
        const type = newpasswordInput1.getAttribute('type') === 'password' ? 'text' : 'password';
        newpasswordInput1.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
        this.classList.toggle('active');
    });
</script>

<script>
    const newpasswordInput2 = document.getElementById('newpassword-input2');
    const newpasswordToggle2 = document.getElementById('newpassword-toggle2');

    newpasswordToggle2.addEventListener('click', function () {
        const type = newpasswordInput2.getAttribute('type') === 'password' ? 'text' : 'password';
        newpasswordInput2.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
        this.classList.toggle('active');
    });
</script>

<!-- End of Page Content -->
{% endblock %}