{% extends "/layouts/layout.html" %}
{% block title %}user_update{% endblock %}
{% block content %}
<!-- Begin Page Content -->


<div class="card position-relative py-2 px-4">
    <div class="card-header">
        User Update
    </div>
    <form action="{{ url_for('users.user_update', user_id=user.id) }}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" value="{{ user.username }}" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Old Password</label>
            <input type="password" class="form-control" id="old_password" name="old_password">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">New Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" onclick="showPassword()">
            <label class="form-check-label" for="exampleCheck1">Show Password</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-danger" href="{{ url_for('users.index') }}">Back</a>
    </form>
</div>


<script>
    function showPassword() {
        var passwordField = document.getElementById("password");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>


<!-- End of Page Content -->
{% endblock %}