{% extends "/layouts/layout_table.html" %}
{% block page_heading %}Configuration File Management{% endblock %}
{% block title %}Configuration File Management{% endblock %}


{% block table_name %}Daftar File Konfigurasi{% endblock %}

{% block form_filter_row %}
<form id="perPageForm" action="{{ url_for('template_bp.configuration_file_index') }}" method="get">
    <label class="d-flex align-items-center">
        <span>Tampilkan</span>
        <select name="per_page" class="form-select form-select-sm mx-2"
            onchange="document.getElementById('perPageForm').submit()">
            <option value="10" {% if per_page==10 %}selected{% endif %}>10</option>
            <option value="25" {% if per_page==25 %}selected{% endif %}>25</option>
            <option value="50" {% if per_page==50 %}selected{% endif %}>50</option>
        </select>
        <span>entri</span>
    </label>
    <input type="hidden" name="search" value="{{ search_query }}">
</form>
{% endblock %}

{% block form_search %}
<form id="searchForm" method="get" action="{{ url_for('template_bp.configuration_file_index') }}"
    class="form-inline d-flex">
    <input id="searchInput" type="text" name="search" class="form-control form-control-sm me-2" placeholder="Search..."
        value="{{ search_query }}">
    <button class="btn btn-outline-success btn-sm" type="submit">
        <i class="fas fa-search"></i>
    </button>
    <input type="hidden" name="per_page" value="{{ per_page }}">
</form>
{% endblock %}

{% block table_header %}
<th>No</th>
<th onclick="sortTable(0)">Nama File <i class="fas fa-sort"></i></th>
<th onclick="sortTable(1)">Vendor <i class="fas fa-sort"></i></th>
<th onclick="sortTable(2)">Deskripsi <i class="fas fa-sort"></i></th>
<th>Aksi</th>
{% endblock %}

{% block table_body %}
{% for data in configurations %}
<tr>
    <th scope="row">{{ loop.index + (page - 1) * per_page }}</th>
    <td>{{ data.config_name }}</td>
    <td>{{ data.vendor }}</td>
    <td>{{ data.description }}</td>
    <td>
        <button class="btn btn-info btn-sm mb-1" data-config-id="{{ data.id }}" onclick="showConfigDetails(this)">
            <i class="fas fa-eye"></i>
        </button>
        <a href="{{ url_for('template_bp.update_configuration', config_id=data.id) }}"
            class="btn btn-success btn-sm mb-1">
            <i class="fas fa-edit"></i>
        </a>
        <form action="{{ url_for('template_bp.delete_configuration', config_id=data.id) }}" method="post"
            class="d-inline">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-danger btn-sm mb-1"
                onclick="return confirm('Apakah Anda yakin ingin menghapus ?');">
                <i class="fas fa-trash"></i>
            </button>
        </form>
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block show_total_data %}
<div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
    Menampilkan {{ (page - 1) * per_page + 1 }} hingga {{ (page - 1) * per_page + per_page if
    (page - 1)
    * per_page + per_page < total_configuration_file else total_configuration_file }} dari {{ total_configuration_file
        }} entri </div>
        {% endblock %}

        {% block pagination %}
        {{ pagination.links }}
        {% endblock %}

        {% block modal_data %}
        <!-- Modal for config Details -->
        <div class="modal fade" id="configDetailModal" tabindex="-1" aria-labelledby="configDetailModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="configDetailModalLabel">Configuration Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p><strong>Filename:</strong> <span id="config_name"></span></p>
                        <p><strong>Vendor:</strong> <span id="vendor"></span></p>
                        <p><strong>Description:</strong> <span id="description"></span></p>
                        <p><strong>Created by:</strong> <span id="created_by"></span></p>
                        <p><strong>Config Content:</strong></p>
                        <pre id="configuration_content" class="content-data"></pre>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block script_js %}
        <script>
            // Function to show the loading overlay
            function showLoadingOverlay() {
                document.getElementById('loadingOverlay').style.display = 'flex';
            }

            // Function to hide the loading overlay
            function hideLoadingOverlay() {
                document.getElementById('loadingOverlay').style.display = 'none';
            }

            let timeout = null;

            // Handle search input delay
            document.getElementById("searchInput").addEventListener("input", function () {
                clearTimeout(timeout);
                timeout = setTimeout(function () {
                    document.getElementById('searchForm').submit();
                }, 1000);
            });

            // Handle manual configuration with AI validation
            document.addEventListener("DOMContentLoaded", function () {
                // Handle Create Manual Configuration Form Submission
                document.getElementById("createManualConfigForm").addEventListener('submit', function (event) {
                    event.preventDefault();  // Prevent the form from submitting the default way

                    const createModal = bootstrap.Modal.getInstance(document.getElementById('createModal'));
                    createModal.hide();  // Close the modal
                    showLoadingOverlay();  // Show the loading overlay

                    const formData = new FormData(this);
                    const actionUrl = this.getAttribute('action');

                    fetch(actionUrl, {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            hideLoadingOverlay();  // Hide the loading overlay

                            if (data.is_valid) {
                                window.location.reload();  // Reload the page to show flash message
                            } else {
                                // Display the error in a modal
                                document.getElementById('errorModalMessage').textContent = data.error_message;
                                var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                                errorModal.show();
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            hideLoadingOverlay();  // Hide the loading overlay
                            document.getElementById('errorModalMessage').textContent = "An unexpected error occurred.";
                            var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                            errorModal.show();
                        });
                });
            });

            // Handle Automate configuration with AI
            document.addEventListener("DOMContentLoaded", function () {
                // Handle Create AI Configuration Form Submission
                document.getElementById("createAiConfigForm").addEventListener('submit', function (event) {
                    event.preventDefault();  // Prevent the form from submitting the default way

                    const createAiModal = bootstrap.Modal.getInstance(document.getElementById('createAiModal'));
                    createAiModal.hide();  // Close the modal
                    showLoadingOverlay();  // Show the loading overlay

                    const formData = new FormData(this);
                    const actionUrl = this.getAttribute('action');

                    fetch(actionUrl, {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            hideLoadingOverlay();  // Hide the loading overlay

                            if (data.is_valid) {
                                window.location.reload();  // Reload the page to show flash message
                            } else {
                                // Display the error in a modal
                                document.getElementById('errorModalMessage').textContent = data.error_message;
                                var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                                errorModal.show();
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            hideLoadingOverlay();  // Hide the loading overlay
                            document.getElementById('errorModalMessage').textContent = "An unexpected error occurred.";
                            var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                            errorModal.show();
                        });
                });
            });

            // Handle Automate configuration with TALITA AI
            document.addEventListener("DOMContentLoaded", function () {
                document.getElementById("createTalitaConfigForm").addEventListener('submit', function (event) {
                    event.preventDefault();

                    const askTalitaModal = bootstrap.Modal.getInstance(document.getElementById('askTalitaModal'));
                    askTalitaModal.hide();
                    showLoadingOverlay();

                    const formData = new FormData(this);
                    const actionUrl = this.getAttribute('action');

                    fetch(actionUrl, {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            hideLoadingOverlay();
                            if (data.is_valid) {
                                window.location.reload();
                            } else {
                                document.getElementById('errorModalMessage').textContent = data.error_message || "An unexpected error occurred.";
                                var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                                errorModal.show();
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            hideLoadingOverlay();
                            document.getElementById('errorModalMessage').textContent = "An unexpected error occurred.";
                            var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                            errorModal.show();
                        });
                });
            });
        </script>

        <!-- handle template detail -->
        <script>
            // Handle template detail
            function showConfigDetails(button) {
                const configId = button.getAttribute("data-config-id");

                fetch(`/configuration-file/get-detail/${configId}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            alert(data.error);
                        } else {
                            document.getElementById("config_name").innerText = data.config_name;
                            document.getElementById("vendor").innerText = data.vendor;
                            document.getElementById("description").innerText = data.description;
                            document.getElementById("created_by").innerText = data.created_by;
                            document.getElementById("configuration_content").innerText = data.configuration_content;

                            var detailModal = new bootstrap.Modal(document.getElementById("configDetailModal"));
                            detailModal.show();
                        }
                    })
                    .catch(error => console.error('Error fetching config details:', error));
            }
        </script>
        <!-- Fungsi text formatting JS untuk Error Modal respon dari AI -->
        <script>
            function displayErrorModal(errors) {
                // Jika pesan error berupa array, format sebagai list
                if (Array.isArray(errors)) {
                    let formattedMessage = "<ul>";
                    errors.forEach(error => {
                        formattedMessage += `<li>${error}</li>`;
                    });
                    formattedMessage += "</ul>";
                    document.getElementById('errorModalMessage').innerHTML = formattedMessage;
                } else {
                    document.getElementById('errorModalMessage').textContent = errors;
                }

                // Tampilkan modal error
                const errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                errorModal.show();
            }

            // Contoh fetch dengan penanganan error
            fetch(actionUrl, {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    hideLoadingOverlay();
                    if (!data.is_valid) {
                        displayErrorModal(data.error_message || "An unexpected error occurred.");
                    } else {
                        window.location.reload();
                    }
                })
                .catch(error => {
                    hideLoadingOverlay();
                    displayErrorModal("An unexpected error occurred.");
                });
        </script>
        {% endblock %}