{% extends "/layouts/layout.html" %}
{% block title %}template_update{% endblock %}
{% block content %}
<!-- Begin Page Content -->


<div class="card position-relative py-2 px-4">
    <div class="card-header">
        Template Update
    </div>
    <form action="{{ url_for('tm.template_update', template_id=template.id) }}" method="post">
        <div class="row g-3 align-items-center mt-1">
            <div class="col-auto">
                <label for="template_name" class="col-form-label">Template filename:</label>
            </div>
            <div class="col-auto ml-sm-2">
                <input name="template_name" type="text" id="template_name" class="form-control"
                    value="{{ template.template_name }}">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">

                </span>
            </div>
        </div>
        <div class="row g-3 align-items-center mt-1">
            <div class="col-auto">
                <label for="parameter_name" class="col-form-label">Parameter filename:</label>
            </div>
            <div class="col-auto">
                <input name="parameter_name" type="text" id="parameter_name" class="form-control"
                    value="{{ template.parameter_name }}">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">

                </span>
            </div>
        </div>
        <div class="row g-3 align-items-center mt-1">
            <div class="col-auto">
                <label for="vendor" class="col-form-label">Vendor name:</label>
            </div>
            <div class="col-auto ml-sm-2">
                <input name="vendor" type="text" id="vendor" class="form-control" value="{{ template.vendor }}">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">

                </span>
            </div>
        </div>
        <div class="row g-3 align-items-center mt-1">
            <div class="col-auto">
                <label for="version" class="col-form-label">Version name:</label>
            </div>
            <div class="col-auto ml-sm-2">
                <input name="version" type="text" id="version" class="form-control" value="{{ template.version }}">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">

                </span>
            </div>
        </div>
        <div class="row g-3 align-items-center mt-1">
            <div class="col-auto">
                <label for="info" class="col-form-label">Template info:</label>
            </div>
            <div class="col-auto ml-sm-2">
                <input name="info" type="text" id="info" class="form-control" value="{{ template.info }}">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">

                </span>
            </div>
        </div>
        <div class="mt-3">
            <label for="template_content" class="form-label">Template Content</label>
            <textarea name="template_content" id="template_content" rows="5"
                class="form-control">{{template_content}}</textarea>
        </div>
        <div class="mt-1 mb-2">
            <label for="parameter_content" class="form-label">Parameter Content</label>
            <textarea name="parameter_content" id="parameter_content" rows="5"
                class="form-control">{{parameter_content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a class="btn btn-danger" href="{{ url_for('tm.index') }}"><i class="fa-solid fa-backward"></i></a>
    </form>
</div>


<!-- End of Page Content -->
{% endblock %}