{% extends "/layouts/layout.html" %}
{% block title %}template_manager{% endblock %}
{% block content %}
<!-- Begin Page Content -->


<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
        Upload File
    </button>
</div>
<div class="card position-relative py-1 px-4">
    <div class="card-header">
        Config Templates List
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="justify-content">No</th>
                    <th scope="col">Template Filename</th>
                    <th scope="col">Parameter Filename</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Version</th>
                    <th scope="col">Info</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for template in all_templates %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ template.template_name }}</td>
                    <td>{{ template.parameter_name }}</td>
                    <td>{{ template.vendor }}</td>
                    <td>{{ template.version }}</td>
                    <td>{{ template.info }}</td>
                    <td>
                        {% if template %}
                        {# Pastikan device tidak kosong sebelum mengakses elemen ke-0 #}
                        {% set template_id = template.id%}
                        <div class="input-group flex-nowrap">
                            <div class="position-relative mr-2">
                                <form action="{{ url_for('tm.template_update', template_id=template_id) }}"
                                    method="get">
                                    <input class="btn btn-success" type="submit" value="Update">
                                </form>
                            </div>
                            <div class="position-relative mr-2">
                                <form action="{{ url_for('tm.template_delete', template_id=template_id) }}"
                                    method="post">
                                    <input class="btn btn-danger"
                                        onclick="return confirm('Anda yakin ingin menghapus template ini?');"
                                        type="submit" value="Delete">
                                </form>
                            </div>
                            <div class="position-relative">
                                <form action="{{ url_for('tm.template_generator', template_id=template_id) }}"
                                    method="post">
                                    <input class="btn btn-primary"
                                        onclick="return confirm('Anda yakin ingin generate config?');" type="submit"
                                        value="Generate template">
                                </form>
                            </div>
                        </div>
                        {% else %}
                        {# Handle jika user kosong #}
                        <span class="text-danger">Data tidak tersedia!</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!-- Upload Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">
                    Upload Template
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="{{ url_for('tm.template_upload') }}">
                    <div class="mb-3">
                        <label for="j2" class="form-label">J2 Template</label>
                        <input type="file" class="form-control" id="j2" name="j2" accept=".j2" required>
                    </div>
                    <div class="mb-3">
                        <label for="yaml" class="form-label">YAML Parameter</label>
                        <input type="file" class="form-control" id="yaml" name="yaml" accept=".yml,.yaml" required>
                    </div>
                    <div class="mb-3">
                        <label for="vendor" class="form-label">Vendor</label>
                        <input type="text" class="form-control" id="vendor" name="vendor" required>
                    </div>
                    <div class="mb-3">
                        <label for="version" class="form-label">Version</label>
                        <input type="text" class="form-control" id="version" name="version" required>
                    </div>
                    <div class="mb-3">
                        <label for="info" class="form-label">Info</label>
                        <textarea class="form-control" id="info" name="info" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Upload
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- End of Page Content -->
{% endblock %}