{% extends "/layouts/layout.html" %}
{% block title %}Update Template{% endblock %}
{% block content %}
<!-- Konten Halaman Update Template -->

<div class="card position-relative py-4 px-4">
    <div class="card-header mb-3">
        Template Update
    </div>
    <!-- Form untuk memperbarui informasi template -->
    <form action="{{ url_for('tm.template_update', template_id=template.id) }}" method="post">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="template_name" class="form-label">Template Filename</label>
                <input type="text" class="form-control" value="{{ template.template_name }}" id="template_name"
                    name="template_name">
            </div>
            <div class="col-md-6">
                <label for="parameter_name" class="form-label">Parameter Filename</label>
                <input type="text" class="form-control" value="{{ template.parameter_name }}" id="parameter_name"
                    name="parameter_name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="vendor" class="form-label">Vendor Name</label>
                <input type="text" class="form-control" value="{{ template.vendor }}" id="vendor" name="vendor">
            </div>
            <div class="col-md-6">
                <label for="version" class="form-label">Version Name</label>
                <input type="text" class="form-control" value="{{ template.version }}" id="version" name="version">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="info" class="form-label">Template Info</label>
                <input type="text" class="form-control" value="{{ template.info }}" id="info" name="info">
            </div>
        </div>
        <div class="mb-3">
            <label for="template_content" class="form-label">Template Content</label>
            <textarea name="template_content" id="template_content" rows="5"
                class="form-control">{{template_content}}</textarea>
        </div>
        <div class="mb-3">
            <label for="parameter_content" class="form-label">Parameter Content</label>
            <textarea name="parameter_content" id="parameter_content" rows="5"
                class="form-control">{{parameter_content}}</textarea>
        </div>
        <!-- Tombol untuk menyimpan perubahan dan tombol untuk kembali ke halaman utama -->
        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-check"></i>
        </button>
        <a class="btn btn-secondary" href="{{ url_for('tm.index') }}">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </form>
</div>

<!-- Akhir Konten Halaman -->
{% endblock %}