{% extends "/layouts/layout.html" %}
{% block title %}Update Configuration File{% endblock %}
{% block content %}
<!-- Page Content for Updating Template -->
<div class="card position-relative py-4 px-4">
    <div class="card-header mb-3">
        Update Configuration File
    </div>
    <form action="{{ url_for('tm.update_configuration', template_result_id=template.id) }}" method="post">
        {{ form.csrf_token }}
        <div class="mb-3">
            <label for="template_name" class="form-label">Configuration Filename</label>
            {{ form.template_name(class="form-control", value=template.config_name, id="template_name") }}
            {% if form.template_name.errors %}
            {% for error in form.template_name.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="vendor" class="form-label">Vendor</label>
            {{ form.vendor(class="form-control", value=template.vendor, id="vendor") }}
            {% if form.vendor.errors %}
            {% for error in form.vendor.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            {{ form.description(class="form-control", value=template.description, id="description") }}
            {% if form.description.errors %}
            {% for error in form.description.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="template_content" class="form-label">COnfiguration Content</label>
            {{ form.template_content(class="form-control", rows="10", id="template_content") }}
            {% if form.template_content.errors %}
            {% for error in form.template_content.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-check"></i> Save Changes
        </button>
        <a class="btn btn-secondary" href="{{ url_for('tm.index_configuration_file') }}">
            <i class="fas fa-arrow-left"></i> Back
        </a>
    </form>
</div>
{% endblock %}