{% extends "/layouts/layout.html" %}
{% block title %}Update Backup{% endblock %}

{% block content %}
<div class="container">
    <h2>Update Backup</h2>
    <form method="post" action="{{ url_for('backup.backup_update', backup_id=backup.id) }}">
        <div class="mb-3">
            <label for="backupName" class="form-label">Nama Backup</label>
            <input type="text" class="form-control" id="backupName" name="backup_name" value="{{ backup.backup_name }}"
                required>
        </div>
        <div class="mb-3">
            <label for="backupContent" class="form-label">Content</label>
            <textarea class="form-control" id="backupContent" name="backup_content" rows="10"
                required>{{ backup_content }}</textarea>
        </div>
        <!-- Tambahkan input untuk commit message -->
        <div class="mb-3">
            <label for="commitMessage" class="form-label">Commit Message</label>
            <textarea class="form-control" id="commitMessage" name="commit_message" rows="3"
                placeholder="Enter commit message..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save Changes</button>
        <a href="{{ url_for('backup.backups') }}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back to
            Backups</a>
    </form>
</div>
{% endblock %}