{% extends "/layouts/layout.html" %} {% block title %}My Account{% endblock %}
{% block content %}
<div class="row py-2">
  <div class="col-xl-12 col-lg-12 col-md-12 col-12">
    <!-- Background banner section -->
    <div class="profile-background pt-20 rounded-top"></div>

    <!-- Profile card section -->
    <div
      class="bg-white rounded-bottom smooth-shadow-sm position-relative"
      style="z-index: 1"
    >
      <div
        class="d-flex align-items-center justify-content-between pt-4 pb-6 px-4"
      >
        <!-- Profile picture and information -->
        <div class="d-flex align-items-center position-relative">
          <div
            class="avatar-xxl me-2 position-relative d-flex justify-content-end align-items-end mt-n10"
            style="z-index: 2"
          >
            {% if user.profile_picture %}
            <img
              src="{{ url_for('static', filename=user.profile_picture) }}"
              alt="Profile Picture"
              class="img-fluid rounded-circle mb-3"
              style="width: 80px; height: 80px; object-fit: cover"
            />
            {% else %}
            <img
              src="{{ url_for('static', filename='img/undraw_profile.svg') }}"
              alt="Profile Picture"
              class="img-fluid rounded-circle mb-3"
              style="width: 80px; height: 80px; object-fit: cover"
            />
            {% endif %}

            <!-- Edit profile picture button -->
            <button
              type="button"
              class="btn-light btn-profile-edit position-absolute"
              data-bs-toggle="modal"
              data-bs-target="#updateProfilePictureModal"
            >
              <i class="fa-solid fa-pencil-alt"></i>
            </button>
          </div>

          <!-- User name and username -->
          <div class="lh-1 ms-3">
            <h2 class="mb-0 text-black">
              {{ user.first_name }} {{ user.last_name }}
            </h2>
            <p class="mb-0 text-black">{{ user.email }}</p>
          </div>
        </div>

        <!-- Edit profile button -->
        <div>
          <a
            class="btn btn-outline-primary d-none d-md-block"
            href="{{ url_for('profile.update_profile') }}"
          >
            Edit Profile
          </a>
        </div>
      </div>

      <!-- Navigation tabs -->
      <ul class="nav nav-lt-tab px-4 py-2" id="pills-tab" role="tablist">
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#changePasswordModal"
          >
            <i class="fas fa-key"></i> Change password
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row py-2 gx-4">
  <div class="mb-6 col-xl-6 col-lg-12 col-md-12 col-12 mb-3">
    <div class="card smooth-shadow-sm">
      <div class="card-body">
        <h4 class="card-title">About Me</h4>
        <span class="text-uppercase fw-medium text-dark fs-5 ls-2"> BIO </span>
        <p class="mt-2 mb-6"><i>"{{ user.biodata }}"</i></p>
        <div class="row">
          <div class="mb-5 col-12">
            <h6 class="text-uppercase fs-5 ls-2">Position</h6>
            <p class="mb-0">{{ user.title }}</p>
          </div>
          <div class="mb-5 col-6">
            <h6 class="text-uppercase fs-5 ls-2">Phone</h6>
            <p class="mb-0">{{ user.phone_number }}</p>
          </div>
          <div class="mb-5 col-6">
            <h6 class="text-uppercase fs-5 ls-2">Email</h6>
            <p class="mb-0">{{ user.email }}</p>
          </div>
          <div class="col-6">
            <h6 class="text-uppercase fs-5 ls-2">Company</h6>
            <p class="mb-0">{{ user.company }}</p>
          </div>
          <div class="col-6">
            <h6 class="text-uppercase fs-5 ls-2">Date Joined</h6>
            <p class="mb-0">{{ user.date_joined }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-6 col-xl-6 col-lg-12 col-md-12 col-12 mb-3">
    <div class="card smooth-shadow-sm">
      <div class="card-body">
        <h4 class="card-title">Activity Feed</h4>
        {% for activity in activities %}
        <div class="d-flex">
          <div>
            {% if current_user.profile_picture %}
            <img
              src="{{ url_for('static', filename=current_user.profile_picture) }}"
              alt="Profile Picture"
              class="rounded-circle avatar-md"
            />
            {% else %}
            <img
              src="{{ url_for('static', filename='img/undraw_profile.svg') }}"
              alt="Profile Picture"
              class="rounded-circle avatar-md"
            />
            {% endif %}
          </div>
          <div class="ms-3">
            <h5 class="fs-10 mb-1">
              {{ user.first_name }} {{ user.last_name }}
            </h5>
            <p class="fs-15 mb-0 text-muted">{{ activity.action }}</p>
            <p class="fs-20 mb-0 text-muted">
              {{ activity.timestamp }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block modal %}
<!-- Modal Change Password -->
<div
  class="modal fade"
  id="changePasswordModal"
  tabindex="-1"
  aria-labelledby="changePasswordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changePasswordModalLabel">
          Change Password
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('profile.change_password') }}" method="post">
          {{ form.hidden_tag() }}
          <div class="mb-3">
            <label for="old_password" class="form-label">Old Password</label>
            {{ form.old_password(class="form-control") }} {% if 'Old Password'
            in get_flashed_messages(with_categories=True) %}
            <small class="text-danger"
              >{{ get_flashed_messages(category_filter=["error"])[0] }}</small
            >
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            {{ form.new_password(class="form-control") }}
          </div>
          <div class="mb-3">
            <label for="repeat_password" class="form-label"
              >Repeat New Password</label
            >
            {{ form.repeat_password(class="form-control") }} {% if 'Repeat New
            Password' in get_flashed_messages(with_categories=True) %}
            <small class="text-danger"
              >{{ get_flashed_messages(category_filter=["error"])[1] }}</small
            >
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Profile Picture Update -->
<div
  class="modal fade"
  id="updateProfilePictureModal"
  tabindex="-1"
  aria-labelledby="updateProfilePictureModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateProfilePictureModalLabel">
          Update Profile Picture
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="{{ url_for('profile.upload_profile_picture') }}"
          method="post"
          enctype="multipart/form-data"
        >
          {{ form_picture.hidden_tag() }}
          <div class="mb-3">
            <label for="profile_picture" class="form-label"
              >Choose New Picture</label
            >
            {{ form_picture.profile_picture(class="form-control") }}
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
