{% extends "/layouts/layout.html" %}
{% block title %}User Update{% endblock %}
{% block content %}
<!-- Begin Page Content -->

<div class="card position-relative py-4 px-4">
    <div class="card-header mb-3">
        User Update
    </div>
    <!-- Form untuk memperbarui Username dan Password User -->
    <form action="{{ url_for('users.user_update', user_id=user.id) }}" method="post">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="first_name" class="form-label">Nama Depan</label>
                <input type="text" class="form-control" value="{{ user.first_name }}" id="first_name" name="first_name">
            </div>
            <div class="col-md-6">
                <label for="last_name" class="form-label">Nama Belakang</label>
                <input type="text" class="form-control" value="{{ user.last_name }}" id="last_name" name="last_name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" value="{{ user.email }}" id="email" name="email">
            </div>
            <div class="col-md-6">
                <label for="password_input" class="form-label">Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password_input" name="password_input"
                        placeholder="Masukkan password...">
                    <span class="input-group-text">
                        <i class="fa-solid fa-eye" id="password-toggle" style="cursor: pointer;"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="new_password" class="form-label">New assword</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="new_password" name="new_password"
                        placeholder="Masukkan password baru...">
                    <span class="input-group-text">
                        <i class="fa-solid fa-eye" id="new_password-toggle" style="cursor: pointer;"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <label for="retype_password" class="form-label">Retype password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="retype_password" name="retype_password"
                        placeholder="Retype password baru...">
                    <span class="input-group-text">
                        <i class="fa-solid fa-eye" id="retype_password-toggle" style="cursor: pointer;"></i>
                    </span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-check"></i>
        </button>
        <a class="btn btn-secondary" href="{{ url_for('users.index') }}">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </form>
</div>

<script>
    // Mengubah tipe input password menjadi text untuk menampilkan password
    const password_input = document.getElementById('password_input');
    const passwordToggle = document.getElementById('password-toggle');

    passwordToggle.addEventListener('click', function () {
        const type = password_input.getAttribute('type') === 'password' ? 'text' : 'password';
        password_input.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
        this.classList.toggle('active');
    });

    // Mengubah tipe input password menjadi text untuk menampilkan new_password
    const new_password = document.getElementById('new_password');
    const new_passwordToggle = document.getElementById('new_password-toggle');

    new_passwordToggle.addEventListener('click', function () {
        const type = new_password.getAttribute('type') === 'password' ? 'text' : 'password';
        new_password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
        this.classList.toggle('active');
    });

    // Mengubah tipe input password menjadi text untuk menampilkan retype_password
    const retype_password = document.getElementById('retype_password');
    const retype_passwordToggle = document.getElementById('retype_password-toggle');

    retype_passwordToggle.addEventListener('click', function () {
        const type = retype_password.getAttribute('type') === 'password' ? 'text' : 'password';
        retype_password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
        this.classList.toggle('active');
    });
</script>

<!-- End of Page Content -->
{% endblock %}