{% extends "/layouts/base.html" %}

{% block bg_content %}
<div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
{% endblock %}

{% block head_content %}
<h1 class="h4 text-gray-900 mb-4">Enter OTP</h1>
{% endblock %}

{% block content %}

<form class="user" role="form" method="post" action="">
    {{ form.csrf_token }}

    <div class="form-group">
        {{ form.otp(placeholder="OTP", class="form-control form-control-user") }}
        {% if form.otp.errors %}
        {% for error in form.otp.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <button class="btn btn-primary btn-user btn-block" type="submit">Verify</button>
</form>

{% endblock %}