html,
body {
    height: 100%;
    margin: 0;
}

.sidebar {
    width: 250px;
    /* Atur lebar sidebar sesuai kebutuhan */
    min-height: 100vh;
    /* Memastikan sidebar minimal setinggi layar */
}

.content {
    flex: 1;
    /* Memastikan konten mengisi ruang yang tersisa */
    min-height: 100vh;
    /* Memastikan konten minimal setinggi layar */
}

footer {
    margin-top: auto;
    /* Memastikan footer berada di bawah halaman */
}


/* Layout base section  */

.bg-custom-topbar {
    background-color: #712cf9;
}

.bg-custom-sidebar {
    background-color: #4600d1;
    /* Warna background */
    color: #ffffff;
    /* Warna teks */
}

.bg-custom-main {
    background-color: #282828;
}

.bg-custom-table {
    background-color: #712cf9;
    /* Warna background */
}

/* Warna teks */
.white-text-color {
    color: #ffffff;
}

/* end of Layout Base Section */


/* Sidebar Section */

.password-container {
    position: relative;
    width: 100%;
    max-width: 30rem;
    /* Maximum width of 50rem */
}

.password-input {
    width: 100%;
    padding-right: 30px;
}

.password-toggle {
    position: absolute;
    right: 5px;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
}

.password-toggle.active {
    color: #333;
}

.sidebar-dark {
    background-color: #343a40 !important;
}

.sidebar .nav-link .fas {
    margin-right: 10px;
}

.sidebar .nav-link span {
    font-weight: bold;
}

.sidebar .nav-link:hover {
    background-color: #1d2124;
}

.sidebar .nav-link.active {
    background-color: #007bff;
}

.sidebar .nav-item.active {
    background: rgba(255, 255, 255, 0.2);
    /* Warna latar belakang dengan transparansi */
    backdrop-filter: blur(10px);
    /* Efek blur */
    -webkit-backdrop-filter: blur(10px);
    /* Efek blur untuk Safari */
    border-radius: 5px;
    /* Sudut yang melengkung */
}

.sidebar .nav-item.active .nav-link {
    color: #fff;
    /* Warna teks yang kontras */
}

/* end of Sidebar Section */

/* Dashboard Section  */

body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.card {
    background-color: #1f1f1f;
    border: none;
}

.card-header {
    background-color: #712cf9;
    border-bottom: 1px solid #000000;
}

/* end of Dashboard Section */

/* user profile section  */

.profile-menu {
    max-width: 400px;
    max-height: 300px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-menu img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-card {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-linkedin {
    background-color: #0077b5;
    color: white;
    margin-top: 15px;
}

.btn-linkedin:hover {
    background-color: #005b8c;
}

/* end of user profile section  */


/* Define CSS for status indicator */
.status-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* Untuk membuat bentuk bulat */
    display: inline-block;
}

.status-indicator-green {
    background-color: green;
    /* Warna hijau untuk status OK */
}

.status-indicator-red {
    background-color: rgb(228, 17, 17);
    /* Warna red untuk status NOK */
}