{% extends "/layouts/layout.html" %}
{% block title %}Update Device{% endblock %}
{% block content %}
<!-- Konten Halaman Update Perangkat -->

<div class="card position-relative py-4 px-4">
    <div class="card-header mb-3">
        Update Device
    </div>
    <!-- Form untuk memperbarui informasi perangkat -->
    <form action="{{ url_for('dm.device_update', device_id=device.id) }}" method="post">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="device_name" class="form-label">Nama Perangkat</label>
                <input type="text" class="form-control" value="{{ device.device_name }}" id="device_name"
                    name="device_name">
            </div>
            <div class="col-md-6">
                <label for="vendor" class="form-label">Vendor</label>
                <input type="text" class="form-control" value="{{ device.vendor }}" id="vendor" name="vendor">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="ip_address" class="form-label">IP Address</label>
                <input type="text" class="form-control" value="{{ device.ip_address }}" id="ip_address"
                    name="ip_address">
            </div>
            <div class="col-md-6">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" value="{{ device.username }}" id="username" name="username">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" value="{{ device.password }}" id="password"
                        name="password">
                    <span class="input-group-text">
                        <i class="fa-solid fa-eye" id="togglePassword" style="cursor: pointer;"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <label for="ssh" class="form-label">Port SSH</label>
                <input type="text" class="form-control" value="{{ device.ssh }}" id="ssh" name="ssh">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label for="description" class="form-label">Deskripsi</label>
                <input type="text" class="form-control" value="{{ device.description }}" id="description"
                    name="description">
            </div>
        </div>
        <!-- Tombol untuk menyimpan perubahan dan tombol untuk kembali ke halaman utama -->
        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-check"></i>
        </button>
        <a class="btn btn-secondary" href="{{ url_for('dm.index') }}">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </form>
</div>

<script>
    // Mengubah tipe input password menjadi text untuk menampilkan password
    document.getElementById('togglePassword').addEventListener('click', function () {
        var passwordField = document.getElementById('password');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
        } else {
            passwordField.type = 'password';
        }
    });
</script>

<!-- Akhir Konten Halaman -->
{% endblock %}