{% extends "main/base_layouts.html" %}
{% block title %}Login - XNET{% endblock %}

{% block content %}
<!-- Kolom Kiri (Gambar & Kotak Warna) -->
<div class="login-image">
    <div class="color-box box1"></div>
    <div class="color-box box2"></div>
    <div class="color-box box3"></div>
    <img src="{{ url_for('static', filename='img/login-banner.jpeg') }}" alt="Login Illustration">
</div>

<!-- Kolom Form Login -->
<div class="login-form">
    <div class="logo">
        <img src="{{ url_for('static', filename='favicon.ico') }}" alt="XNET Logo">
        <h1>Wellcome!</h1>
        <div class="flash_message mt-2">
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            {%- for msg in errors %}
            <div class="alert alert-danger alert-dismissible fade show small" role="alert">
                <strong><i class="fas fa-fw fa-triangle-exclamation"></i></strong> {{ msg }}

            </div>
            {% endfor -%}
            {% endif %}
            {% endwith %}

            {% with success = get_flashed_messages(category_filter=["success"]) %}
            {% if success %}
            {%- for msg in success %}
            <div class="alert alert-success alert-dismissible fade show small" role="alert">
                <strong><i class="fas fa-fw fa-square-check"></i></strong> {{ msg }}

            </div>
            {% endfor -%}
            {% endif %}
            {% endwith %}

            {% with info = get_flashed_messages(category_filter=["info"]) %}
            {% if info %}
            {%- for msg in info %}
            <div class="alert alert-info alert-dismissible fade show small" role="alert">
                <strong><i class="fas fa-fw fa-info"></i></strong> {{ msg }}

            </div>
            {% endfor -%}
            {% endif %}
            {% endwith %}

            {% with warning = get_flashed_messages(category_filter=["warning"]) %}
            {% if warning %}
            {%- for msg in warning %}
            <div class="alert alert-warning alert-dismissible fade show small" role="alert">
                <strong><i class="fas fa-fw fa-exclamation-triangle"></i></strong> {{ msg }}

            </div>
            {% endfor -%}
            {% endif %}
            {% endwith %}

            {% with danger = get_flashed_messages(category_filter=["danger"]) %}
            {% if danger %}
            {%- for msg in danger %}
            <div class="alert alert-danger alert-dismissible fade show small" role="alert">
                <strong><i class="fas fa-fw fa-exclamation-triangle"></i></strong> {{ msg }}

            </div>
            {% endfor -%}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <form id="loginForm" method="post" action="{{url_for('main.login')}}">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <div class="input-group">
            <label for="InputEmail">Email</label>
            {{ form.email(id="email", placeholder="Enter username...", required=True)
            }}
        </div>
        <div class="input-group">
            <label for="InputPassword">Password</label>
            {{ form.password(id="password", placeholder="Enter password...", required=True)
            }}
        </div>
        <button type="submit">Login</button>
        <p class="powered-by">Powered by <a href="https://talita.lintasarta.co.id">Talita</a></p>
    </form>
</div>
{% endblock %}