{% extends "main/base_layouts.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <form class="form-container form-container-dark" method="post" action="{{url_for('main.login')}}">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {% include '/layouts/flash_msg.html' %}
        <h4 class="text-center mb-4">Login</h4>
        <div class="mb-3">
            <label for="InputEmail" class="form-label"><strong>Username</strong></label>
            {{ form.email(class="form-control form-control-dark", placeholder="Enter Username...", required=True)
            }}
        </div>
        <div class="mb-3">
            <label for="InputPassword" class="form-label"><strong>Password</strong></label>
            {{ form.password(class="form-control form-control-dark", placeholder="Password", required=True) }}
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4">Login</button>
    </form>
</div>
{% endblock %}