{% extends "/layouts/base.html" %}

{% block bg_content %}
<div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
{% endblock %}

{% block head_content %}
<h1 class="h3 mb-3 fw-normal text-center">Please register</h1>
{% endblock %}

{% block content %}
<form class="user" role="form" method="post" action="">
    {{ form.csrf_token }}

    <div class="form-group">
        {{ form.username(placeholder="Enter username...", class="form-control form-control-user") }}
        {% if form.username.errors %}
        {% for error in form.username.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.password(placeholder="password", class="form-control form-control-user") }}
        {% if form.password.errors %}
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.confirm(placeholder="Confirm Password", class="form-control form-control-user") }}
        {% if form.confirm.errors %}
        {% for error in form.confirm.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <button class="btn btn-primary btn-user btn-block" type="submit">Sign up</button>
    <hr>
    <div class="text-center">
        <a class="small" href="forgot-password.html">Forgot Password?</a>
    </div>
    <p class="text-center small">Already registered? <a class="small" href="{{ url_for('main.login') }}">Login now</a></p>
</form>
{% endblock %}