{% extends "/layouts/base_demo.html" %}

{% block content %}
<form class="mx-auto" role="form" method="post">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <h4 class="text-center">Registrasi Akun</h4>
    <div class="mb-2 mt-5">
        <label for="first_name" class="form-label"><strong>Nama depan</strong></label>
        {{ form.first_name(placeholder="First Name", class="form-control form-control-user") }}
        {% if form.first_name.errors %}
        {% for error in form.first_name.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="mb-2 mt-2">
        <label for="last_name" class="form-label"><strong>Nama Belakang</strong></label>
        {{ form.last_name(placeholder="Last Name", class="form-control form-control-user") }}
        {% if form.last_name.errors %}
        {% for error in form.last_name.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="mb-2 mt-2">
        <label for="email" class="form-label"><strong>Email</strong></label>
        {{ form.email(placeholder="Email Address", class="form-control form-control-user") }}
        {% if form.email.errors %}
        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="mb-2 mt-2">
        <label for="password" class="form-label"><strong>Password</strong></label>
        {{ form.password(placeholder="Password", class="form-control form-control-user") }}
        {% if form.password.errors %}
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="mb-3 mt-2">
        <label for="confirm-password" class="form-label"><strong>Confirm password</strong></label>
        {{ form.confirm_password(placeholder="Confirm Password", class="form-control form-control-user") }}
        {% if form.confirm_password.errors %}
        {% for error in form.confirm_password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary mt-4">Daftar</button>

    <div class="div d-flex flex-wrap justify-content-between">
        <div class="form-text mt-3">
            <a href="{{url_for ('main.login')}}">Lupa Password?</a>
        </div>
        <div class="form-text mt-3">
            <a href="{{url_for('main.login')}}">Login sekarang</a>
        </div>
    </div>
</form>
{% endblock %}