{% extends "main/base_layouts.html" %}
{% block title %}Setup & Verifikasi 2FA{% endblock %}

{% block content %}
<!-- Kolom Kiri (Instruksi & QR Code) -->
<div class="login-image">
    <form class="form-container form-container-dark" role="form">
        <h4 class="text-center mt-2">Setup Two-Factor Authentication</h4>
        <ul>
            <li class="small">
                Download
                <a class="small"
                    href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2"
                    target="_blank">
                    Google Authenticator
                </a>
            </li>
            <li class="small">Scan QR Code atau salin Secret Token</li>
        </ul>

        <div class="text-center">
            <img src="data:image/png;base64, {{ qr_image }}" alt="QR Code" style="width:200px;height:200px" />
        </div>

        <div class="mb-3 mt-3">
            <label for="secret" class="form-label">Secret Token</label>
            <input type="text" class="form-control" id="secret" value="{{ secret }}" disabled>
        </div>

        <div class="mb-3">
            <button type="button" class="btn btn-primary" onclick="copySecret()">
                Salin Secret
            </button>
        </div>
    </form>
</div>

<!-- Kolom Kanan (Form Verifikasi OTP) -->
<div class="login-form">
    <form class="form-container form-container-dark" method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <h4 class="text-center">Verifikasi 2FA</h4>

        <div class="mb-3 mt-5">
            {{ form.otp.label(class="form-control-label mb-2") }}
            {{ form.otp(class="form-control", placeholder="Masukkan 6-digit OTP") }}
        </div>

        <button type="submit" class="btn btn-primary btn-block">Verifikasi</button>

        <!-- Flash Message Section -->
        <div class="flash_message mt-2">
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            {%- for msg in errors %}
            <div class="alert alert-danger alert-dismissible fade show small" role="alert">
                <strong><i class="fas fa-fw fa-triangle-exclamation"></i></strong> {{ msg }}

            </div>
            {% endfor -%}
            {% endif %}
            {% endwith %}

            {% with success = get_flashed_messages(category_filter=["success"]) %}
            {% if success %}
            {%- for msg in success %}
            <div class="alert alert-success alert-dismissible fade show small" role="alert">
                <strong><i class="fas fa-fw fa-square-check"></i></strong> {{ msg }}

            </div>
            {% endfor -%}
            {% endif %}
            {% endwith %}

            {% with info = get_flashed_messages(category_filter=["info"]) %}
            {% if info %}
            {%- for msg in info %}
            <div class="alert alert-info alert-dismissible fade show small" role="alert">
                <strong><i class="fas fa-fw fa-info"></i></strong> {{ msg }}

            </div>
            {% endfor -%}
            {% endif %}
            {% endwith %}

            {% with warning = get_flashed_messages(category_filter=["warning"]) %}
            {% if warning %}
            {%- for msg in warning %}
            <div class="alert alert-warning alert-dismissible fade show small" role="alert">
                <strong><i class="fas fa-fw fa-exclamation-triangle"></i></strong> {{ msg }}

            </div>
            {% endfor -%}
            {% endif %}
            {% endwith %}

            {% with danger = get_flashed_messages(category_filter=["danger"]) %}
            {% if danger %}
            {%- for msg in danger %}
            <div class="alert alert-danger alert-dismissible fade show small" role="alert">
                <strong><i class="fas fa-fw fa-exclamation-triangle"></i></strong> {{ msg }}

            </div>
            {% endfor -%}
            {% endif %}
            {% endwith %}
        </div>
    </form>
</div>
{% endblock %}