{% extends "/layouts/base.html" %}

{% block bg_content %}
<div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
{% endblock %}

{% block head_content %}
<h1 class="h4 text-gray-900 mb-4">Enter OTP</h1>
{% endblock %}

{% block content %}

<form class="user" role="form" method="post" action="">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.otp.label(class="form-control-label") }}
        {{ form.otp(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Verify</button>
</form>

{% endblock %}