{% extends '/layouts/layout.html' %}
{% block title %}{% endblock %}

{% block content %}

<!-- Grup Tombol -->
<div class="d-flex justify-content-between mb-3">
    <div>
        <div class="row">
            <div class="col-auto">
                {% block button_group1 %}{% endblock %}
            </div>
            <div class="col-auto">
                {% block button_group2 %}{% endblock %}
            </div>
            <div class="col-auto">
                {% block button_group3 %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<!-- Tabel Data -->
<div class="card border-dark shadow mb-4 ">
    <div class="card-header py-3 bg-custom-table">
        <h6 class="m-0 font-weight-bold white-text-color">{% block table_name %}{% endblock %}</h6>
    </div>
    <div class="card-body bg-custom-main">
        <div class="table table-dark">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 bg-custom-main">
                <div class="row mb-3 table-dark">
                    <div class="col-12 col-md-6 d-flex align-items-center mb-2 mb-md-0">
                        <!-- Dropdown untuk mengubah jumlah entri yang ditampilkan per halaman -->
                        <div class="dataTables_length" id="dataTable_length">
                            {% block form_filter_row %}{% endblock %}
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-md-end">
                        <!-- Form Pencarian -->
                        {% block form_search %}{% endblock %}
                    </div>
                </div>
                <div class="row table-dark">
                    <table class="table table-dark table-hover table-responsive-sm table-sm">
                        <thead>
                            <tr>
                                {% block table_header %}{% endblock %}
                            </tr>
                        </thead>
                        <tbody>
                            {% block table_body %}{% endblock %}
                        </tbody>
                    </table>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-5 d-flex align-items-center mb-2 mb-md-0">
                        <!-- Informasi jumlah data yang ditampilkan -->
                        {% block show_total_data %}{% endblock %}
                        {% block pagination %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% block modal_data %}{% endblock %}
    </div>
</div>
{% endblock %}
{% block script_js %}{% endblock %}