<!-- save token jwt ke cookies -->
<script>
    // Simpan token JWT ke dalam cookie setelah pengguna berhasil login
    function saveTokenToCookie(token) {
        document.cookie = `access_token_cookie=${token}; path=/;`;
    }
</script>

<script>
    function DarkTheme() {
        var element = document.body;
        element.dataset.bsTheme =
            element.dataset.bsTheme == "light" ? "dark" : "light";
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Waktu delay untuk menghilangkan alert (dalam milidetik)
        var delay = 5000;

        var alerts = document.querySelectorAll('.alert');
        alerts.forEach(function (alert) {
            setTimeout(function () {
                alert.classList.remove('show');
                alert.classList.add('fade');
            }, delay);
        });
    });
</script>