<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-navbar-la topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <li>
            <!-- Flash Messages -->
            <div class="mt-3">
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                {%- for msg in errors %}

                <div class="alert alert-danger alert-dismissible fade show small" role="alert">
                    <strong><i class="fas fa-fw fa-triangle-exclamation"></i></strong> {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                {% endfor -%}
                {% endif %}
                {% endwith %}

                {% with success = get_flashed_messages(category_filter=["success"]) %}
                {% if success %}
                {%- for msg in success %}

                <div class="alert alert-success alert-dismissible fade show small" role="alert">
                    <strong><i class="fas fa-fw fa-square-check"></i></strong> {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                {% endfor -%}
                {% endif %}
                {% endwith %}

                {% with info = get_flashed_messages(category_filter=["info"]) %}
                {% if info %}
                {%- for msg in info %}

                <div class="alert alert-info alert-dismissible fade show small" role="alert">
                    <strong><i class="fas fa-fw fa-info"></i></strong> {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                {% endfor -%}
                {% endif %}
                {% endwith %}

                {% with warning = get_flashed_messages(category_filter=["warning"]) %}
                {% if warning %}
                {%- for msg in warning %}

                <div class="alert alert-warning alert-dismissible fade show small" role="alert">
                    <strong><i class="fas fa-fw fa-exclamation-triangle"></i></strong> {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                {% endfor -%}
                {% endif %}
                {% endwith %}

                {% with danger = get_flashed_messages(category_filter=["danger"]) %}
                {% if danger %}
                {%- for msg in danger %}

                <div class="alert alert-danger alert-dismissible fade show small" role="alert">
                    <strong><i class="fas fa-fw fa-exclamation-circle"></i></strong> {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                {% endfor -%}
                {% endif %}
                {% endwith %}

            </div>
            <!-- End Flash Messages -->
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><b class="white-text-color">{{first_name}}
                        {{last_name}}</b></span>
                <img class="img-profile rounded-circle"
                    src="{{ url_for('static', filename=current_user.profile_picture) if current_user.profile_picture else 'https://via.placeholder.com/100' }}">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in bg-black"
                aria-labelledby="userDropdown">
                <a class="dropdown-item text-white" href="/profile_user">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    My Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
                <div class="form-check form-switch mx-4">
                    <input type="checkbox" class="form-check-input p-2" role="switch" id="flexSwitchCheckChecked"
                        checked onclick="DarkTheme()" />
                </div>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->