{% extends "/layouts/layout.html" %}
{% block title %}Permissions Management{% endblock %}
{% block content %}
<!-- Begin Page Content -->

<!-- Grup Tombol -->
<div class="row g-2 mb-3">
    <div class="col-md-4 d-flex justify-content-md-start">
        <!-- Tombol untuk menampilkan modal Create Permission -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createPermissionModal">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="col-md-8 d-flex justify-content-md-end">
        <!-- Tombol untuk Kembali ke Index Page -->
        <a class="btn btn-warning" href="{{ url_for('roles.index') }}">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Permissions Managment</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for permission in permissions %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ permission.name }}</td>
                        <td>{{ permission.description }}</td>
                        <td>
                            <!-- Tombol untuk menampilkan modal Update Permission -->
                            <button class="btn btn-success btn-sm" data-bs-toggle="modal"
                                data-bs-target="#updatePermissionModal{{ permission.id }}">
                                <i class="fas fa-edit"></i>
                            </button>

                            <!-- Form untuk Menghapus Permission -->
                            <form action="{{ url_for('roles.delete_permission', permission_id=permission.id) }}"
                                method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Apakah Anda yakin ingin menghapus permission ini?');">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>

                    <!-- Modal Update Permission -->
                    <div class="modal fade" id="updatePermissionModal{{ permission.id }}" tabindex="-1"
                        aria-labelledby="updatePermissionModalLabel{{ permission.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updatePermissionModalLabel{{ permission.id }}">Update
                                        Permission</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post"
                                        action="{{ url_for('roles.update_permission', permission_id=permission.id) }}">
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Nama Permission</label>
                                            <input type="text" class="form-control" id="name" name="name"
                                                value="{{ permission.name }}" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="description" class="form-label">Deskripsi</label>
                                            <textarea class="form-control" id="description" name="description"
                                                rows="3">{{ permission.description }}</textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Create Permission -->
<div class="modal fade" id="createPermissionModal" tabindex="-1" aria-labelledby="createPermissionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createPermissionModalLabel">Tambah Permission Baru</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ url_for('roles.create_permission') }}">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nama Permission</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Deskripsi</label>
                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}