{% extends "/layouts/layout.html" %}
{% block title %}role_update{% endblock %}
{% block content %}
<!-- Begin Page Content -->

<div class="card position-relative py-2 px-4" style="max-width: 32rem;">
    <div class="card-header">
        Role Update
    </div>
    <form action="{{url_for('roles.role_update', role_id=role.id)}}" method="post">
        <div class=" password-container mb-3">
            <div class="mb-3 mt-3">
                <label for="name" class="small">Nama Role</label>
                <input type="text" class="form-control" value="{{ role.name }}" id="name" name="name">
            </div>
            <div class="mb-3 mt-3">
                <label for="permissions" class="small">Permissions</label>
                <input type="text" class="form-control" value="{{ role.permissions }}" id="permissions" name="permissions">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-danger" href="{{ url_for('roles.index') }}">Back</a>
        </div>
    </form>
</div>


<!-- End of Page Content -->
{% endblock %}