{% extends "/layouts/layout.html" %}
{% block title %}Update Role - {{ role.name }} {% endblock %}
{% block content %}
<!-- Begin Page Content -->

<div class="card position-relative py-4 px-4">
    <div class="card-header mb-3">
        Role Update
    </div>
    <form action="{{ url_for('roles.update_role', role_id=role.id) }}" method="POST">
        <div class="row">
            <div class="col mb-3">
                <div class="row md-6">
                    <label for="name" class="text-white">Role Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ role.name }}" required>
                </div>
            </div>
            <div class="col mb-3">
                <label class="text-white">User</label>
                {% for user in associated_users %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="users" id="user{{ user.id }}"
                        value="{{ user.id }}" checked>
                    <label class="form-check-label badge badge-success" for="user{{ user.id }}">
                        {{ user.email }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="col mb-3">
                <label>Permissions</label>
                <div>
                    {% for permission in all_permissions %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="permissions"
                            id="permission{{ permission.id }}" value="{{ permission.id }}" {% if permission.id in
                            associated_permissions %} checked {% endif %}>
                        <label class="form-check-label badge badge-primary" for="permission{{ permission.id }}">
                            {{ permission.name }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Tombol Aksi -->
        <button type="submit" class="btn btn-sm btn-success">
            <i class="fa-solid fa-check"></i> Save Changes
        </button>
        <a class="btn btn-sm btn-warning" href="{{ url_for('roles.index') }}">
            <i class="fa-solid fa-arrow-left"></i> Back
        </a>
    </form>
</div>

<!-- End of Page Content -->
{% endblock %}