config user local
    edit "{{user1}}"
        set type password
	set passwd {{pass1}}
    next
    edit "{{user2}}"
        set type password
	set passwd {{pass2}}
    next
    edit "{{user3}}"
        set type password
	set passwd {{pass3}}
    next
    edit "{{user4}}"
        set type password
	set passwd {{pass4}}
    next
end



config user group



    edit "Lintasarta"



	append member "{{user1}}" "{{user2}}" "{{user3}}" "{{user4}}"



    next



end