{% extends "/layouts/layout_table.html" %}
{% block title %}Network Manager{% endblock %}


{% block button_group1 %}
<!-- Tombol Check Status -->
<button id="checkStatusButton" type="button" class="btn btn-info">
    <i class="fas fa-check-circle"></i> Cek Status
</button>
{% endblock %}
{% block button_group2 %}
<!-- Tombol Push Config -->
<button id="pushConfigBtn" type="button" class="btn btn-success">
    <i class="fas fa-upload"></i> Kirim Konfigurasi
</button>
{% endblock %}

{% block table_name %}Daftar Perangkat{% endblock %}

{% block form_filter_row %}
<form id="perPageForm" action="{{ url_for('nm.index') }}" method="get">
    <label class="d-flex align-items-center">
        <span>Tampilkan</span>
        <select name="per_page" aria-controls="dataTable"
            class="custom-select custom-select-sm form-control form-control-sm mx-2" style="padding-right: 1.75rem;"
            onchange="document.getElementById('perPageForm').submit()">
            <option value="10" {% if per_page==10 %}selected{% endif %}>10</option>
            <option value="25" {% if per_page==25 %}selected{% endif %}>25</option>
            <option value="50" {% if per_page==50 %}selected{% endif %}>50</option>
        </select>
        <span>entri</span>
    </label>
    <input type="hidden" name="search" value="{{ search_query }}">
</form>
{% endblock %}

{% block form_search %}
<!-- Form Pencarian -->
<form id="searchForm" method="get" action="{{ url_for('nm.index') }}" class="form-inline d-flex">
    <input id="searchInput" type="text" name="search" class="form-control form-control-sm mr-2"
        placeholder="Cari perangkat" value="{{ search_query }}">
    <button class="btn btn-outline-success btn-sm" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <input type="hidden" name="per_page" value="{{ per_page }}">
</form>
{% endblock %}

{% block table_header %}
<th scope="col">
    <!-- Tombol Select Perangkat -->
    <button id="selectDevicesBtn" type="button" class="btn btn-primary btn-sm ml-3">
        <i class="fas fa-cogs"></i> Select
    </button>
</th>
<th scope="col" class="justify-content">No</th>
<th scope="col">Nama Perangkat</th>
<th scope="col">Alamat IP</th>
<th scope="col">Vendor</th>
<th scope="col">Status</th>
{% endblock %}

{% block table_body %}
{% for device in devices %}
<tr>
    <th>
        <div class="container">
            <!-- Checklist Buttons -->
            <div id="checklistButtons{{ loop.index }}" class="checklist-buttons" style="display: none;">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check checklist-buttons" id="btncheck{{ loop.index }}"
                        data-ip="{{ device.ip_address }}" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck{{ loop.index }}">Select</label>
                </div>
            </div>
        </div>
    </th>
    <th scope="row">{{ loop.index + (page-1) * per_page }}</th>
    <td>{{ device.device_name }}</td>
    <td>{{ device.ip_address }}</td>
    <td>{{ device.vendor }}</td>
    <td>
        <div id="statusIndicator{{ device.id }}" class="status-indicator"></div>
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block show_total_data %}
<!-- Informasi jumlah data yang ditampilkan -->
<div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
    Menampilkan {{ (page - 1) * per_page + 1 }} hingga {{ (page - 1) * per_page + per_page if
    (page - 1)
    * per_page + per_page < total_devices else total_devices }} dari {{ total_devices }} entri </div>
</div>
{% endblock %}

{% block pagination %}
<div class="col-12 col-md-7 d-flex justify-content-md-end pagination-sm">
    <!-- Pagination Links -->
    {{ pagination.links }}
</div>
{% endblock %}

{% block modal_data %}
<!-- Modal untuk memilih File Konfigurasi -->
<div class="modal fade" id="selectConfigModal" tabindex="-1" aria-labelledby="selectConfigModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-black text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="selectConfigModalLabel">Select File for Push Config</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="configSelectionForm">
                    <div class="mb-3">
                        <label for="configSelect" class="form-label">Pilih file konfigurasi</label>
                        <select id="configSelect" class="form-select" required>
                            <option value="" selected disabled>Select a config</option>
                            {% for config in config_file %}
                            <option value="{{ config.id }}">{{ config.config_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary" id="confirmPushConfigBtn">Push Config</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal untuk menampilkan hasil push config -->
<div class="modal fade" id="pushConfigResultModal" tabindex="-1" aria-labelledby="pushConfigResultModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-black text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="pushConfigResultModalLabel">Push Config Results</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="pushConfigResultTable">
                    <!-- Tabel hasil push config akan dimuat di sini -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_js %}
<!-- Script untuk menangani aksi pengguna -->
<script>
    // Fungsi untuk mengatur penundaan pencarian
    let timeout = null;

    // Menangani input pada form pencarian dengan penundaan 1 detik
    document.getElementById("searchInput").addEventListener("input", function () {
        // Batalkan timer yang ada sebelumnya jika ada
        clearTimeout(timeout);

        // Setel timer baru untuk submit form setelah 1 detik
        timeout = setTimeout(function () {
            document.getElementById('searchForm').submit();
        }, 1000); // 1000 ms = 1 detik
    });

    // Event klik tombol Check Status
    document.getElementById("checkStatusButton").addEventListener("click", function () {
        fetch("/check_status", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(response => response.json())
            .then(data => {
                Object.keys(data).forEach(deviceId => {
                    const statusIndicator = document.getElementById("statusIndicator" + deviceId);
                    statusIndicator.classList.remove("status-indicator-green", "status-indicator-red");

                    if (data[deviceId]) {
                        statusIndicator.classList.add("status-indicator-green");
                    } else {
                        statusIndicator.classList.add("status-indicator-red");
                    }
                });
            })
            .catch(error => console.error("Error:", error));
    });

    // Variabel untuk melacak status apakah checklist sedang ditampilkan atau tidak
    let isChecklistVisible = false;

    // Event klik tombol Select Device
    document.getElementById("selectDevicesBtn").addEventListener("click", function () {
        const checklistButtons = document.getElementsByClassName("checklist-buttons");

        if (!isChecklistVisible) {
            // Jika checklist tidak ditampilkan, tampilkan checklist
            for (let i = 0; i < checklistButtons.length; i++) {
                checklistButtons[i].style.display = "block";
            }
            isChecklistVisible = true; // Update status checklist menjadi visible
        } else {
            // Jika checklist sedang ditampilkan, sembunyikan dan reset status checked
            for (let i = 0; i < checklistButtons.length; i++) {
                checklistButtons[i].style.display = "none";

                // Reset status checkbox jika sedang checked
                if (checklistButtons[i].type === "checkbox" && checklistButtons[i].checked) {
                    checklistButtons[i].checked = false;
                }
            }
            isChecklistVisible = false; // Update status checklist menjadi hidden
        }
    });

    // Event klik tombol Push Config
    document.getElementById("pushConfigBtn").addEventListener("click", function () {
        const selectedDevices = [];
        document.querySelectorAll(".btn-check:checked").forEach(function (checkbox) {
            selectedDevices.push(checkbox.getAttribute("data-ip"));
        });

        if (selectedDevices.length > 0) {
            const selectConfigModal = new bootstrap.Modal(document.getElementById("selectConfigModal"));
            selectConfigModal.show();
        } else {
            alert("Please select at least one device.");
        }
    });

    // Event klik tombol Confirm Push Config
    document.getElementById("confirmPushConfigBtn").addEventListener("click", function () {
        const selectedconfig = document.getElementById("configSelect").value;
        const selectedDevices = [];
        document.querySelectorAll(".btn-check:checked").forEach(function (checkbox) {
            selectedDevices.push(checkbox.getAttribute("data-ip"));
        });

        if (selectedconfig && selectedDevices.length > 0) {
            fetch("/push_configs", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ devices: selectedDevices, config_id: selectedconfig })
            })
                .then(response => response.json())
                .then(data => {
                    // Siapkan HTML untuk tabel hasil push config
                    let tableHTML = '<table class="table table-bordered"><thead><tr><th>Device Name</th><th>IP Address</th><th>Status</th><th>Message</th></tr></thead><tbody>';

                    data.results.forEach(result => {
                        tableHTML += `<tr><td>${result.device_name}</td><td>${result.ip}</td><td>${result.status}</td><td>${result.message}</td></tr>`;
                    });

                    tableHTML += '</tbody></table>';

                    // Tampilkan hasil dalam modal
                    document.getElementById("pushConfigResultTable").innerHTML = tableHTML;

                    // Sembunyikan modal pemilihan config dan tampilkan modal hasil push config
                    const selectConfigModal = bootstrap.Modal.getInstance(document.getElementById("selectConfigModal"));
                    selectConfigModal.hide();

                    const pushConfigResultModal = new bootstrap.Modal(document.getElementById("pushConfigResultModal"));
                    pushConfigResultModal.show();
                })
                .catch(error => {
                    console.error("Error:", error);
                    alert("Error pushing configurations: " + error.message);
                });
        } else {
            alert("Please select a config.");
        }
    });

    // Fungsi untuk memfilter baris tabel berdasarkan input pencarian
    document.getElementById("searchInput").addEventListener("input", function () {
        const query = this.value.toLowerCase();
        const rows = document.querySelectorAll("#deviceTable tbody tr");

        rows.forEach(row => {
            const deviceName = row.cells[2].textContent.toLowerCase();
            const ipAddress = row.cells[3].textContent.toLowerCase();
            const vendor = row.cells[4].textContent.toLowerCase();

            if (
                deviceName.includes(query) ||
                ipAddress.includes(query) ||
                vendor.includes(query)
            ) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    });

    // Muat ulang halaman dan reset checklist saat modal ditutup
    document.getElementById("pushConfigResultModal").addEventListener("hidden.bs.modal", function () {
        // Reset checklist
        document.querySelectorAll(".btn-check").forEach(function (checkbox) {
            checkbox.checked = false;
        });

        // Simpan nilai input pencarian
        const searchInput = document.getElementById("searchInput");
        const searchQuery = searchInput.value;

        // Muat ulang halaman untuk mereset input pencarian
        location.reload();
        searchInput.value = searchQuery;
    });

</script>
{% endblock %}